h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.bg-pink {
  background-color: hotpink !important;
}

.drag-active {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.drag-over {
  background-color: #eee;
}
